:root {
  --color-primary: #FF6A00;  /* Laranja vibrante */
  --color-secondary: #29B6F6;  /* Azul vibrante */
  --color-text: #333333;  /* Cinza escuro para o texto legível */
  --color-button: #FFC107;  /* Amarelo suave para botões */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse */
  --color-bg: #F5F5F5;  /* Branco como fundo padrão */
  --bg-menu: #FFFFFF;  /* Branco como fundo padrão */
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;  box-sizing: border-box;
}

  html {
    overflow-y: scroll;
  }

  body{
    background-color: var(--color-bg);
  }
  

  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 6rem;
    font-family: Arial, sans-serif;
    padding: 2rem 2rem 2rem 2rem;
  }

  .faq{
    display: flex;
    justify-content: center;
    align-items: normal ;
    flex-direction: column;
    background-color: var(--bg-menu);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 4rem;
    border-radius: 40px;
  }
  
  .faq-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 2rem;
    color: var(--color-text);
  }

  .faq-container h2 {
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    color: var(--color-text);
  }

  .faq-container p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #5a5a5a;
    color: var(--color-text);
  }

  .question {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  .question h3 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    color: #333;
    color: var(--color-text);
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1ss ease;
    margin-bottom: 40px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
  }
  
  .answer.show {
    max-height: 1000px; /* Ajuste esse valor conforme necessário */
  }
  
  .answer p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .btn-contact {
    background-color: var(--color-button);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn-contact:hover {
    background-color: var(--color-button-hover);
  }
  

  @media (max-width: 600px) {
    .faq-container {
      max-width: 100%;
      padding: 10px;
    }
  
    .faq-container h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .question h3 {
      font-size: 20px;
    }
  
    .answer {
      margin-bottom: 20px;
      padding-left: 10px;
    }
  
    .answer p {
      font-size: 16px;
    }
  }
  
/* Estilos para o pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin-top: 3rem;
}

.popup-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.popup h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: var(--color-text);
}

.popup .btn {
  display: flex;
  justify-content: space-between;
}

.popup .btn input[type="submit"],
.popup .btn-close {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.popup .btn-close,
.wrapper .btn input[type="submit"] {
  /* Outros estilos do botão */
  transition: background-color 0.3s ease; /* Adiciona uma transição de 0.3 segundos para a cor de fundo */
}

.popup .btn-close:hover,
.wrapper .btn input[type="submit"]:hover {
  background-color: var(--color-button-hover);
}


.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: var(--bg-menu);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--color-text);
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid var(--color-text);
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: var(--color-bgolor-text);
  background-color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
