:root {
  --color-primary: #FF6A00;  /* Laranja vibrante */
  --color-secondary: #29B6F6;  /* Azul vibrante */
  --color-text: #333333;  /* Cinza escuro para o texto legível */
  --color-button: #FFC107;  /* Amarelo suave para botões */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse */
  --color-bg: #F5F5F5;  /* Branco como fundo padrão */
  --bg-menu: #FFFFFF;  /* Branco como fundo padrão */
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;  box-sizing: border-box;
}

  html {
    overflow-y: scroll;
  }

  body{
    background-color: var(--color-bg);
  }
  

  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 6rem;
    font-family: Arial, sans-serif;
    padding: 2rem 2rem 2rem 2rem;
  }

  .faq{
    display: flex;
    justify-content: center;
    align-items: normal ;
    flex-direction: column;
    background-color: var(--bg-menu);
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-top: 4rem;
    border-radius: 40px;
  }
  
  .faq-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 2rem;
  }

  .faq-container h2 {
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
  }

  .faq-container p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #5a5a5a;
  }

  .question {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  .question h3 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 3rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1ss ease;
    margin-bottom: 40px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
  }
  
  .answer.show {
    max-height: 1000px; /* Ajuste esse valor conforme necessário */
  }
  
  .answer p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .btn-contact {
    background-color: var(--color-button);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn-contact:hover {
    background-color: var(--color-button-hover);
  }
  

  @media (max-width: 600px) {
    .faq-container {
      max-width: 100%;
      padding: 10px;
    }
  
    .faq-container h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .question h3 {
      font-size: 20px;
    }
  
    .answer {
      margin-bottom: 20px;
      padding-left: 10px;
    }
  
    .answer p {
      font-size: 16px;
    }
  }
  
/* Estilos para o pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin-top: 3rem;
}

.popup-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(235, 235, 235);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.popup h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.popup form {
  margin-top: 15px;
}

.popup form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.popup form input[type="text"],
.popup form input[type="email"],
.popup form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.popup form textarea {
  resize: vertical;
  height: 120px;
}

.popup form button[type="submit"] {
  background-color: var(--color-button);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup form button[type="submit"]:hover {
  background-color: var(--color-button-hover);
}

.popup form .btn-close {
  background-color: var(--color-button);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.popup form .btn-close:hover {
  background-color: var(--color-button-hover);
}

/* Estilos para telas menores */
@media (max-width: 600px) {
  .popup form label,
  .popup form input[type="text"],
  .popup form input[type="email"],
  .popup form textarea {
    width: 70%; /* Ajuste a largura desejada */
    margin-right: 0;
  }

  .popup-container {
    margin-top: 3rem !important;
  }

  .popup form textarea {
    height: 80px;
  }

  .popup form button[type="submit"],
  .popup form .btn-close {
    width: 100%;
    margin-right: 0;
  }
}
