:root {
  --color-primary: #FF6A00;  /* Laranja vibrante */
  --color-secondary: #29B6F6;  /* Azul vibrante */
  --color-text: #333333;  /* Cinza escuro para o texto legível */
  --color-button: #FFC107;  /* Amarelo suave para botões */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse */
  --color-bg: #F5F5F5;  /* Branco como fundo padrão */
  --bg-menu: #FFFFFF;  /* Branco como fundo padrão */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.section-divider {
  margin: 130px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-divider::before {
  content: '';
  flex-grow: 1;
  height: 2px;
  background-color: #29B6F6; /* Cor azul vibrante */
  margin: 0 15%; /* Espaço em branco nas laterais de 15% */
}


#bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-site {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-video1 {
  width: 100%; /* Altere a largura para 100% para ocupar todo o espaço disponível */
  max-width: 900px; /* Defina uma largura máxima adequada para o elemento */
  margin: 2rem auto; /* Adicione margens superior e inferior */
  color: #f1f1f1;
  padding: 20px;
  position: relative;
  height: fit-content;
}


.content-video1 h1 {
  width: 80%;
  font-size: 3rem;
  min-height: fit-content;
}

.mid-site {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.mid-site .container1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-menu);
}

.mid-site .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-menu);
  padding: 3rem;
}

.mid-site .container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-menu);
}

.mid-site .container4{
  background-color: #ffffff;
  padding-top: 4rem;
}

.mid-site .container5{
  background-color: var(--bg-menu);
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  z-index: 99999999999999999;
}

.manual-btn{
  border: 2px solid #ff0000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999999999999999999999999999999;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #29B6F6;
}

.right{
  width: 50%;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 54rem;
}

.txt li{
  text-align: left;
}

.txt p{
  font-size: 20px;
  margin: 1rem;
}

.txt ol{
  text-align: left;
  font-size: 20px;
  margin: 1rem;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.mid-site p {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11rem;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  gap: 5rem;
}

@media (max-width: 1120px) {
  /* Estilos para dispositivos com largura máxima de 768 pixels */
  .flex-container2 {
    flex-direction: column; /* Alterar a direção do flex para empilhar verticalmente */
    gap: 1rem; /* Reduzir o espaçamento entre os elementos */
  }

  .flex-item {
    text-align: center;
    margin-bottom: 1rem; /* Adicionar espaçamento inferior entre os itens */
  }

  .flex-item img {
    max-height: 100px; /* Reduzir a altura máxima da imagem */
  }
}

@media (max-width: 930px) {
  /* Estilos para dispositivos com largura máxima de 768 pixels */
  .flex-container {
    flex-direction: column; /* Alterar a direção do flex para empilhar verticalmente */
    gap: 1rem; /* Reduzir o espaçamento entre os elementos */
  }

  .flex-item {
    text-align: center;
    margin-bottom: 1rem; /* Adicionar espaçamento inferior entre os itens */
  }

  .flex-item img {
    max-height: 100px; /* Reduzir a altura máxima da imagem */
  }
}

@media (max-width: 1150px) {
.container2{
  display: flex;
  flex-direction: column;
}

.left{
  min-width: 90%;
}
.carrosel{
  padding: none;
}
}

.flex-item {
  text-align: center;
}

.flex-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.flex-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.flex-item p {
  color: var(--color-text);
}

.image-container {
  text-align: center;
}

.image-container p {
  margin-top: 10px;
}

.mid-site .container4{
  background-color: #ffffff;
  padding-top: 4rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 9rem;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  margin-top: 7rem;
  display: inline-block;
  animation: 45s slide infinite linear;
  object-fit: contain;
}

.logos-slide img {
  height: 5rem;
  margin: 0 40px;
  padding-right: 10rem;
}

#datetime {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2); 
}

.popup-screen{
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}

.popup-box{
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}

.popup-box h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 20px;
}

.popup-box p{
  font-size: 1em;
  margin-bottom: 30px;
}

.close-btn{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn{
  border: 2px solid var(--color-secondary);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: var(--color-button-hover);
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid var(--color-secondary);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: var(--color-secondary);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: var(--color-secondary);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: var(--color-secondary);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: var(--color-secondary);
}
      