:root {
  --color-primary: #FF6A00;  /* Laranja vibrante */
  --color-secondary: #29B6F6;  /* Azul vibrante */
  --color-text: #333333;  /* Cinza escuro para o texto legível */
  --color-button: #FFC107;  /* Amarelo suave para botões */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse */
  --color-bg: #F5F5F5;  /* Branco como fundo padrão */
  --bg-menu: #FFFFFF;  /* Branco como fundo padrão */
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;  box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
  }