:root {
  --color-primary: #FF6A00;  /* Laranja vibrante */
  --color-secondary: #29B6F6;  /* Azul vibrante */
  --color-text: #333333;  /* Cinza escuro para o texto legível */
  --color-button: #FFC107;  /* Amarelo suave para botões */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse */
  --color-bg: #F5F5F5;  /* Branco como fundo padrão */
  --bg-menu: #FFFFFF;  /* Branco como fundo padrão */
}

body.dark-mode {
  --color-primary: #FFA000;  /* Laranja vibrante no modo escuro */
  --color-secondary: #03A9F4;  /* Azul vibrante no modo escuro */
  --color-text: #F5F5F5;  /* Branco para o texto legível no modo escuro */
  --color-button: #FFC107;  /* Amarelo suave para botões no modo escuro */
  --color-button-hover: #FFA000;  /* Amarelo mais intenso ao passar o mouse no modo escuro */
  --color-bg:#222222;  /* Cinza escuro como fundo padrão no modo escuro */
  --bg-menu: #414141;  /* Cinza mais escuro como fundo padrão no modo escuro */
}


header {
  position: sticky;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
  background-color: var(--bg-menu);
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
  transition: height 0.3s ease; /* Adicione essa linha para criar uma transição suave */
}

header.smaller {
  height: 70px; /* Altura menor quando rolado para baixo */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img-small {
  display: none;
}

header.smaller .logo-img {
  display: none;
  margin-top: 55px;
}

header.smaller .logo-img-small {
  display: block;
}


  .hamburguer{
    display: none;
  }
  
  .nav-bar ul{
    display: flex;
  }
  
  .nav-bar ul li a{
    display: block;
    color: var(--color-text);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
  
  }
  
  .nav-bar ul li a:hover {
    color: var(--color-text);
    background: var(--color-button-hover);
  }
  
  .nav-bar ul li a.active{
    color: #000;
    background: var(--color-secondary);
  }

  @media only screen and (max-width: 1390px){
    header{
      padding: 0 50px;
    }
  }
  
  @media only screen and (max-width: 1292px){
    header{
      padding: 0 30px;
    }
  }

  @media only screen and (max-width: 1250px){
    header{
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 1230px){
    header{
      padding: 0 5px;
    }
  }

  @media only screen and (max-width: 600px){
    .logo-img{
      max-width: 21rem;
    }
  }
  @media only screen and (max-width: 1151px){
    .hamburguer{
      display: block;
      cursor: pointer;
    }
    .hamburguer .line{
      width: 30px;
      height: 3px;
      background: var(--color-secondary);
      margin: 6px 0;
    }
    .nav-bar{
      height: 0px;
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      width: 100vw;
      background: var(--color-bg);
      transition: 0.2s;
      overflow: hidden;
      top: 100%; /* Define a distância em relação ao topo */
    }
  
    .nav-bar.active{
      height: 340px;
      transform: translateY(0%); /* Exibe o menu no topo da tela */
      box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }
  
    .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 45px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
  
    .nav-bar.active ul{
      opacity: 1;
    }
  
    .nav-bar ul li a{
      margin-bottom: 12px;
      color: var(--color-text);
    }
  }
  
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-menu);
    color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow personalizado */
  }
  
  .container-footer {
    display: inline-block; 
    text-align: left;
  }
  
  .container-footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .container-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .container-footer ul li {
    margin-bottom: 10px;
  }
  
  .container-footer ul li a {
    color: var(--color-text);
  }
  
  .copy-right {
    margin-top: 30px;
  }
  
  .container-menu p {
    margin: 0;
  }
  @media (max-width: 767px) { /* tela pequena */
    .container-footer {
      display: block;
      text-align: center;
    }
    
    .copy-right {
      margin-top: 20px;
    }
    
    .container-footer ul li {
      margin-bottom: 5px;
    }
  }
  
  @media (min-width: 768px) { /* tela grande */
    .container-footer {
      display: inline-block;
      text-align: left;
      margin-bottom: 0;
    }
    
    .copy-right {
      margin-top: 30px;
    }
    
    .container-footer ul li {
      margin-bottom: 10px;
    }
  }

  #fixed-button {
    cursor: pointer;
    position: fixed;
    bottom: 3rem; /* Distância do botão em relação à parte inferior */
    right: 3rem; /* Distância do botão em relação à parte direita */
    z-index: 999999; /* Para garantir que o botão fique sempre acima de outros elementos */
    background-color: var(--color-bg); /* Cor de fundo do botão */
    border: none; /* Remova as bordas do botão se desejar */
    padding: 10px; /* Espaçamento interno do botão */
    border-radius: 40%; /* Para tornar o botão circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2); /* Sombra do botão */
  }

  #fixed-button :hover{
    transition: 0.2s;
    color: #018dff;
  }
  
  #fixed-button i {
    color: var(--color-text); /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
  }